.job-card {
  display: grid;
  flex-flow: column;
  width: 100%;
  word-wrap: break-word;
  margin: 10px;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #EDEDED;
  background-color: white;
}

.job-card h2 {
  font-size: 18px;
  color: #1b1b1b;
}

.title-side {
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-flow: column;
}

.title-side .top {
  display: flex;
}

.date {
  color: rgb(129, 129, 129);
}
.title-side a {
  margin-left: auto;
  display: block;
  width: 20px;
}
.content-side {
  padding: 10px;
}
.job-card .main-content {
  font-size: 16px;
  color: #3f3f3f;
  margin-top: 10px;
  overflow: hidden;
  max-height: 100px;
  transition: height 0.2s;
}

.job-card .main-content-full {
  max-height: 5000px;
}

.job-card .less {
  background: gray;
}
.save-button-card {
  background-color: rgb(20, 134, 138);
  border: none;
  color: white;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  font-size: 1em;
  width: 120px;
  position: relative;
  text-align: center;
  height: 40px;
  cursor: pointer;
}
.save-button-card svg {
  position: absolute;
  left: 5px;
}

.remove-job {
  background: rgb(48 67 68);
  font-size: 0.9em;
}

.save-button-card p {
  margin-left: 34px;
}

.remove-job p {
  margin-left: 28px;
}

.keyword-matches {
  display: flex;
  margin-top: 10px;
  column-gap: 10px;
  width: 100%;
  overflow: hidden;
}
.keyword-match {
  background: #242424;
  color: white;
  padding: 5px;
  height: 30px;
  min-width: px;
  text-align: center;
  border-radius: 10px;
  width: fit-content;
}

.view-button {
  border: none;
  padding: 5px;
  background: #4CA6A8;
  border-radius: 5px;
  color: white;
  font-size: 1.1em;
  min-width: 150px;
  float: right;
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  cursor: pointer;
}
@media only screen and (min-width: 700px) {
  .job-card {
    min-height: 230px;
  }
  .title-side {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    flex-grow: 1;
  }

  .content-side {
    width: 100%;
  }

}
