.job-card {
  display: flex;
  flex-flow: column;
  background: #262626;
  border: solid 2px #414141;
  width: 100%;
  word-wrap: break-word;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
}

.job-card h2 {
  font-size: 18px;
  color: #e0e0e0;
}

.job-card .main-content {
  font-size: 16px;
  color: #979797;
  margin-top: 10px;
  overflow: hidden;
  max-height: 100px;
}

@media only screen and (min-width: 600px) {
  .job-card {
    margin-top: 0px;
  }
}
